#Verify {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-color: #f0f2f5;
    padding: 40px;
}

.Verify-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Verify-Title {
    font-weight: 700;
    color: #ff4a4a;
    font-size: 40px;
    text-align: center;
}

.Verify-Title2 {
    text-align: center;
    font-size: 17px;
}

.Form-SignIn-Container-Parent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Form-SignIn-Container {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
}

.Status-Invalid-Container {
    background-color: #ffeeee;
    color: #cc3333;
    font-weight: 600;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
    border-radius: 10px;
    justify-content: center;
}

.Form-SignIn-Input-Wrapper {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 15px;
}

.Form-SignIn-Input-Wrapper input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid rgb(156, 156, 156);
    padding-left: 10px;
    border-radius: 10px;
}

.Form-SignIn-Input-Wrapper label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    pointer-events: none;
}

input:focus + label,
input:valid + label {
    font-size: 13px;
    top: 0;
    left: 10px;
    background-color: white;
    border: 1px solid transparent;
    color: rgb(82, 82, 82);
}

input:focus {
    outline: none;
}

.Form-SignIn-Input-Button-Submit {
    margin-top: 15px;
    width: 100%;
    line-height: 38px;
    border-radius: 6px;
    background-color: #54bab9;
    border: 1px solid #54bab9;
    color: white;
    transition: all 0.4s ease-in-out;
    font-weight: 600;
    font-size: 16px;
}

.Form-SignIn-Input-Button-Submit:hover {
    background-color: white;
    color: #54bab9;
}

.Form-SignIn-Forgoten-Password {
    text-align: center;
    font-size: 15px;
    color: #6ba6f4;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.Form-SignIn-Forgoten-Password:hover {
    color: #1877f2;
}

.Form-SignIn-Border {
    width: 100%;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.Form-SignIn-Input-Button-Register-Container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Form-SignIn-Input-Button-Register {
    margin-top: 15px;
    width: 60%;
    line-height: 38px;
    border-radius: 6px;
    background-color: #ff4a4a;
    border: 1px solid #ff4a4a;
    color: white;
    transition: all 0.4s ease-in-out;
    font-weight: 600;
    font-size: 16px;
}

.Form-SignIn-Input-Button-Register:hover {
    background-color: white;
    color: #ff4a4a;
}

@media screen and (max-width: 1200px) {
    .Verify-Title {
        font-size: calc(0.9 * 40px);
    }
    .Verify-Title2 {
        font-size: calc(0.9 * 17px);
    }
}

@media screen and (max-width: 992px) {
    .Verify-Title {
        font-size: calc(0.8 * 40px);
    }
    .Verify-Title2 {
        font-size: calc(0.8 * 17px);
    }
    .Form-SignIn-Input-Button-Register {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .Verify-Title {
        font-size: calc(0.9 * 40px);
    }
    .Verify-Title2 {
        font-size: calc(0.9 * 17px);
    }
}

@media screen and (max-width: 576px) {
    #Verify {
        padding: 40px 10px;
    }
    .Verify-Title {
        font-size: calc(0.8 * 40px);
    }
    .Verify-Title2 {
        font-size: calc(0.8 * 17px);
    }
}

@media screen and (max-width: 500px) {
    .Verify-Title {
        font-size: calc(0.75 * 40px);
    }
    .Verify-Title2 {
        font-size: calc(0.75 * 17px);
    }
    .Form-SignIn-Container {
        padding: 20px;
    }
}

@media screen and (max-width: 420px) {
    .Verify-Title {
        font-size: calc(0.7 * 40px);
    }
    .Verify-Title2 {
        font-size: calc(0.7 * 17px);
    }
    .Form-SignIn-Container {
        padding: 10px;
    }
}
