.Form-Register-Parent {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.Form-Register {
    width: 480px !important;
    border-radius: 25px !important;
}

.Modal-Header-Container {
    display: block;
    height: 70px;
}

.Modal-Header-Container h1 {
    height: unset;
    margin-bottom: unset;
    font-size: 35px;
    font-weight: 600;
}

.Modal-Header-Container p {
    position: relative;
    bottom: 20px;
    margin-bottom: unset;
    font-size: 16px;
}

.Status-Invalid-Container {
    background-color: #ffeeee;
    color: #cc3333;
    font-weight: 600;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
    border-radius: 10px;
    justify-content: center;
}

.Form-SignUp-Container {
    width: 100%;
    padding: 10px 40px;
    background-color: white;
    border-radius: 20px;
}

.Form-SignUp-Input-Wrapper {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 15px;
}

.Form-SignUp-Input-Wrapper input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid rgb(156, 156, 156);
    padding-left: 10px;
    border-radius: 10px;
}

.Form-SignUp-Input-Wrapper label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    pointer-events: none;
}

input:focus + label,
input:valid + label,
input:invalid + label {
    font-size: 13px;
    top: 0;
    left: 10px;
    background-color: white;
    border: 1px solid transparent;
    color: rgb(82, 82, 82);
}

input::placeholder {
    color: transparent;
}

input:placeholder-shown + label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    pointer-events: none;
}

input:invalid {
    border: 1px solid red;
}

input:invalid + label {
    color: red;
}

input:invalid:focus + label {
    color: red;
}

input:placeholder-shown:invalid + label {
    color: black;
}

input:placeholder-shown:invalid {
    border: 1px solid rgb(156, 156, 156);
}

input:focus {
    outline: none;
}

.Form-SignUp-Input-Button-Submit {
    margin-top: 15px;
    width: 100%;
    line-height: 48px;
    border-radius: 6px;
    background-color: #54bab9;
    border: 1px solid #54bab9;
    color: white;
    transition: all 0.4s ease-in-out;
    font-weight: 600;
    font-size: 16px;
}

.Form-SignUp-Input-Button-Submit:hover {
    background-color: white;
    color: #54bab9;
}
