#VerifyForm-Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.VerifyForm {
    width: 968px;
    max-width: 100%;
    min-height: 580px;
    /* height: fit-content; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
}

.VerifyForm.RightPanel .VerifyForm-Login {
    transform: translateX(100%);
    opacity: 0;
    z-index: -1;
}

.VerifyForm.RightPanel .VerifyForm-SignUp {
    transform: translateX(0%);
    opacity: 1;
}

.VerifyForm.RightPanel .VerifyForm-Overlay {
    transform: translateX(-150%);
    background: #4b70e2;
}

.VerifyForm.RightPanel .VerifyForm-Overlay .VerifyForm-Overlay-SignUp {
    opacity: 0;
}

.VerifyForm.RightPanel .VerifyForm-Overlay .VerifyForm-Overlay-Login {
    opacity: 1;
}

.VerifyForm-Container {
    width: 80%;
}

/* verifyLogin  */
.VerifyForm-Login {
    opacity: 1;
    display: flex;
    position: absolute;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
    transition: all 1.5s ease-in-out;
    z-index: 6;
}

.VerifyForm-Title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.VerifyForm-ThirdParty-Container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.VerifyForm-ThirdParty-Components {
    width: 35px;
    height: 35px;
    border: 1px solid #76787a;
    color: #76787a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.VerifyForm-Form {
    margin-top: 20px;
}

.VerifyForm-Input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    border-radius: 15px;
}

.VerifyForm-Input::placeholder {
    color: rgb(117, 116, 116);
}

.VerifyForm-Label {
    text-align: center;
    margin-bottom: unset;
    font-size: 14px;
    height: 30px;
}

.VerifyForm-Form-Button-Container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.VerifyForm-Form-Button {
    width: 155px;
    height: 45px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: #4b70e2;
    border: 1px solid #4b70e2;
    color: #f9f9f9;
    border: none;
    transition: all 0.4s ease-in-out;
    z-index: 3;
}

.VerifyForm-Form-Button:hover {
    background: white;
    border: 1px solid #4b70e2;
    color: #4b70e2;
}

/* end of verifyLogin  */
.VerifyForm-SignUp {
    transform: translateX(-100%);
    opacity: 0;
    display: flex;
    margin-left: 40%;
    position: absolute;
    width: 60%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease-in-out;
}

.VerifyForm-Overlay {
    height: 100%;
    position: absolute;
    margin-left: 60%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: #395dc9;
    transition: all 1.5s ease-in-out;
}

.VerifyForm-Overlay-SignUp {
    position: absolute;
    transition: all 1.5s ease-in-out;
}

.VerifyForm-Overlay-Login {
    opacity: 0;
    transition: all 1.5s ease-in-out;
}

.VerifyForm-Overlay-Container {
    width: 100%;
    max-width: 320px;
    color: white;
}

.VerifyForm-Overlay-Container-Title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.VerifyForm-Overlay-Container-Desc {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}

.VerifyForm-Overlay-Button-Container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.VerifyForm-Overlay-Button {
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    z-index: 3;
    font-weight: 600;
}
